{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
            background-color: white;


    <style>
        #hsi-graph {
            width: auto;
            height: 700px;
            border: 1px solid gray;
        }

        .container {
            float:left;
            margin-left: 20px;
        }

        h3 {
            margin-bottom: 10px;
        }

        #index_result {
            font-family: Courier New;
            font-size: 14pt;
            background-color: white;
            padding: 5pt;
            border: 1px solid gray;
            height: 15pt;
            width: 700px;
        }

    </style>
{% endblock css %}

{% block content %}

    <div class="container">
        <h3>Events from Host to Sourcetype to Index (past 5 minutes)</h3>
         <div id="initial">
            <div id="hsi-graph"></div>
        </div>
        <div id="hsi-graph2"></div>
    </div>

    <div class="container">
        <h4>Enter host(s):</h4>
        <div id="host">
            {% multidropdown id="hosts" default="" managerid="host_search"
                labelField="host" valueField="host" value="$host$"|token_safe %}
         </div>

        <div id="index">
            <h4>Enter index(es):</h4>
            {% multidropdown id="indices" managerid="index_search"
                labelField="index" valueField="index" %}
        </div>

        <div id="sourcetype">
            <h4>Enter sourcetype(s):</h4>
            {% multidropdown id="sourcetype" managerid="sourcetype_search"
                labelField="sourcetype" valueField="sourcetype" %}
        </div>

        <div id="results">
            <h4>Splunk Search String:</h4>
            <div id="index_result"></div>
        </div>
    </div>


{% endblock content%}

{% block managers %}
    {% searchmanager
        id="si_search"
        search="index=* earliest=-5m@m | stats count by index sourcetype | sort -count | head 20"
        earliest_time="-5m@m"
        latest_time="now"
        preview=True
        cache=True %}

    {% searchmanager
        id="host_search"
        search="index=* earliest=-5m@m | table host"
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

    {% searchmanager
        id="hsi_search"
        search="index=* earliest=-5m@m host=$host$ | stats count by index sourcetype"|token_safe
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

    {% searchmanager
        id="index_search"
        search="index=* earliest=-5m@m host=$host$ | stats count by index sourcetype | table index"|token_safe
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

    {% searchmanager
        id="sourcetype_search"
        search="index=* earliest=-5m@m host=$host$ | stats count by index sourcetype | table sourcetype"|token_safe
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

{% endblock managers %}

{% block js %}    
    <script>
        require([
            "splunkjs/ready!",
            "jquery",
            "splunk_wftoolkit/components/sankey/sankey",
        ],
        function(mvc, $, Sankey) {
            var coords = new Sankey({
                'id' : 'hsi',
                'managerid' : 'si_search',
                'el' : $('#hsi-graph')
            }).render();

            var coords = new Sankey({
                'id' : 'hsi2',
                'managerid' : 'hsi_search',
                'el' : $('#hsi-graph')
            }).render();
            var chosenHost = splunkjs.mvc.Components.getInstance("hosts");
            var indexResult = document.getElementById("index_result");
            chosenHost.on("change", function() {
                indexResult.innerHTML = "host=" + chosenHost.val();
            });

            var chosenIndex = splunkjs.mvc.Components.getInstance("indices");
            var extras = indexResult.innerHTML;
            chosenHost.on("change", function() {
                indexResult.innerHTML = "index=" + chosenIndex.val().join(" ") + " " + extras;
            });

            var chosenSource = splunkjs.mvc.Components.getInstance("sourcetype");
            chosenSource.on("change", function() {
                indexResult.innerHTML += " sourcetype=" + chosenSource.val().join(" ");
            });
        });

    </script>
{% endblock js %}