{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">


    <style>
        h3 {
            margin-bottom: 10px;
        }

        #index {
            display: none;
        }

        #sourcetypes {
            display: none;
        }

        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }

    </style>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
               <h3>Events from Host to Sourcetype to Index (past 5 minutes)</h3>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head" id="hostHead">
                        <p>Index -> Sourcetype</p>
                    </div>
                     <div class="panel-body" id="hostBody">
                     </div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                 <div class="dashboard-element">
                     <div class="panel-head">
                        <h4>Enter host(s):</h4>
                      </div>
                     <div class="panel-head">
                        <div id="host0">
                            {% multidropdown id="hosts0" managerid="host_search"
                                labelField="host" valueField="host" value="$inputs$"|token_safe %}
                         </div>

                         <div id="host1">
                            {% dropdown id="hosts1" managerid="host_search"
                                labelField="host" valueField="host" %}
                         </div>

                         <div id="host2">
                            {% dropdown id="hosts2" managerid="host_search"
                                labelField="host" valueField="host" %}
                         </div>

                         <div id="host3">
                            {% dropdown id="hosts3" managerid="host_search"
                                labelField="host" valueField="host" %}
                         </div>

                        <div id="index">
                            <h4>Enter index(es):</h4>
                            {% multidropdown id="indices" managerid="index_search"
                                labelField="index" valueField="index" %}
                        </div>

                        <div id="sourcetypes">
                            <h4>Enter sourcetype(s):</h4>
                            {% multidropdown id="sourcetype" managerid="sourcetype_search"
                                labelField="sourcetype" valueField="sourcetype" %}
                        </div>

                        <div id="results">
                            <h4>Splunk Search String:</h4>
                            <div id="index_result"></div>
                        </div>
                      </div>
                 </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}

{% block managers %}
    {% searchmanager
        id="host_search"
        search="index=_internal hostname source=/opt/splunk/var/log/splunk/metrics.log earliest=-5m@m latest=now | dedup hostname | rename hostname as host | table host"
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

    {% searchmanager
        id="index_search"
        search="index=* earliest=-5m@m latest=now host=$host$ | stats count by index sourcetype | table index"|token_safe
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

    {% searchmanager
        id="sourcetype_search"
        search="index=* earliest=-5m@m latest=now host=$host$ | stats count by index sourcetype | table sourcetype"|token_safe
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}

{% endblock managers %}

{% block js %}    
    <script>
        require([
            "splunkjs/ready!",
            "jquery",
            "splunk_wftoolkit/components/sankey/sankey",
            "splunkjs/mvc/searchmanager"
        ],
        function(mvc, $, Sankey) {
            var SearchManager = require("splunkjs/mvc/searchmanager");

            var chosenHost = splunkjs.mvc.Components.getInstance("hosts0");
            var indexResult = document.getElementById("index_result");
            var hostHTML = "";
            chosenHost.on("change", function() {
                document.getElementById("host1").style.display = "inline";
                indexResult.innerHTML = "index=" + chosenHost.val();
                document.getElementById("indices").style.display="inline";
            });

            var hostSearch = new SearchManager({
                id: "hsi_search",
                cache: true,
                earliest_time: "-5m@m",
                latest_time: "now",
                search: mvc.tokenSafe("$searchQuery$")

            }, {tokens: true});

            var tokens = mvc.Components.get('default');
            tokens.on("change:inputs", function(model, inputs, options) {
                var hostBody = document.getElementById("hostBody");
                hostBody.innerHTML = "";
                for (var i = 0; i < inputs.length; i++) {
                    var searchQuery = "index=* earliest=-5m@m latest=now host=" + inputs[i] + "| stats count by index sourcetype";
                    tokens.set("searchQuery", searchQuery);
                    var hostGraph = document.createElement("div");
                    hostGraph.id = "hostgraph" + i;
                    hostGraph.innerHTML = inputs[i];
                    hostBody.appendChild(hostGraph);
                    var id = "hsi" + i;
                    var graph = "#hostgraph" + i;
                    var sankey = new Sankey({
                         'id': id,
                         'managerid': 'hsi_search',
                         'el': $(graph)
                    }).render();
                }
            });


            var chosenIndex = splunkjs.mvc.Components.getInstance("indices");
            chosenIndex.on("change", function() {
                document.getElementById("sourcetypes").style.display = "inline";
                indexResult.innerHTML = "index=" + chosenIndex.val();

            });

            var chosenSource = splunkjs.mvc.Components.getInstance("sourcetype");
            chosenSource.on("change", function() {
                indexResult.innerHTML += " sourcetype=" + chosenSource.val().join(' OR ');
            });
        });

        function searchMe() {

        }

    </script>
{% endblock js %}