{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">


    <style>
        /* CSS style in addition to the Splunk given css files. Positions Sankey graphs and spacing between headings. */

        h2, h4, #hosts, #sourcetype, #indices, #index_result, #selectHost {
            margin-bottom: 10px;
            margin-left: 5px;
        }

        #index, #about, #sourcetypes {
            display: none;
        }

        .span-full {
            width: 100%;
        }
        .span-half {
            width: 50%;
        }

        #index_result {
            font-family: Courier New;
            font-size: 12pt;
        }

        #graph {
            margin-top: 10px;
            display: none;
        }

        .source, .index {
            font-size: 10px;
            font-weight: bold;
        }

        .source {
            float: left;
            margin-left: 13px;
        }

        .index, #learnMore {
            float: right;
            margin-right: 10px;
        }

        #learnMore {
            margin-top: 10px;
        }

        #selectHost {
            font-size: 10pt;
            color: gray;
        }

        #about {
            clear: left;
            border: 1px solid LightGray;
            margin: 10px;
            margin-left: 17px;
            background-color: white;
            font-family: Arial;
        }

        ul > li {
            margin: 5px;
        }

    </style>
{% endblock css %}

{% block content %}

<!-- HTML for the explore_splunk_app. Displays the area where users can enter multiple hosts, sourcetypes, and indices.
    Graph is displayed depending on what the user selected as well as an example search string for Splunk. Table graph
    of the top 10 fields of all events in selected index is displayed when user clicks on a link on the Sankey graph. -->

<div class="dashboard-body container-fluid main-section-body">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
               <h2>Events from Sourcetype to Index based on Hosts (past 5 minutes)</h2>
        </div>
        <button id="learnMore">Learn More</button>
        <div id="about">
            <ul>
                <li>With each host you select, a separate Sankey graph will be displayed, mapping the sourcetypes
                to the indices. The thicker the links, the more data is being fed to that index. </li>
                <li> The graph is not dependent on the sourcetypes and indices you select, but rather the hosts you select.</li>
                <li>The example search string is dependent on the hosts, sourcetypes, and indices. Searches in Splunk are
                implicit 'AND' unless explicitly stated otherwise.</li>
                <li>You can click on a link on any of the Sankey graph and a table with the top 10 fields within the selected
                index will show up.</li>
            </ul>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">

                <!-- Graph area where the Sankey Graphs will be displayed. -->
                <div class="dashboard-element" id="hostElement"></div>
            </div>
        </div>

        <div class="dashboard-cell span-half">
            <div class="dashboard-panel">
                 <div class="dashboard-element">
                     <div class="panel-head">
                        <h4>Enter host(s):</h4>
                         <p id="selectHost">Select a host to begin</p>
                      </div>
                     <div class="panel-head">

                         <!-- Area where users can make multiple selections of hosts, sourcetypes, and indices.
                                Sourcetype and index are initially hidden. -->
                        <div id="host0">
                            {% multidropdown id="hosts" managerid="host_search"
                                labelField="host" valueField="host" value="$inputs$"|token_safe %}
                         </div>

                          <div id="sourcetypes">
                            <h4>Enter sourcetype(s):</h4>
                            {% multidropdown id="sourcetype" managerid="sourcetype_search"
                                labelField="sourcetype" valueField="sourcetype" %}
                        </div>


                        <div id="index">
                            <h4>Enter index(es):</h4>
                            {% multidropdown id="indices" managerid="index_search"
                                labelField="index" valueField="index" %}
                        </div>

                         <!-- View of example search string generated. -->
                        <div id="results">
                            <h4>Example Search String:</h4>
                            <div id="index_result"></div>
                        </div>
                      </div>

                     <!-- Table graph that is displayed only when the user clicks on a link on the Sankey Graph. -->
                     <div class="panel-head" id="graph">
                         <h4>Top 10 Fields in Selected Index:</h4>
                     </div>
                     <div class="panel-body">
                         <div id="eventTable"></div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}

{% block managers %}
    <!-- Django syntax Splunk search managers are handled here. This search manager populates the hosts the user can select. -->
    {% searchmanager
        id="host_search"
        search="index=_internal hostname source=/opt/splunk/var/log/splunk/metrics.log earliest=-5m@m latest=now | dedup hostname | rename hostname as host | table host"
        earliest_time="-5m@m"
        latest_time="now"
        cache=True %}




{% endblock managers %}

{% block js %}    
    <script>
        /* Handles the interactivity of the webpage and reacts accordingly. Uses the splunk toolkit and splunkjs to
            create the Sankey graphs, search and post process managers, and table view on the page. */

        require([
            "splunkjs/ready!",
            "jquery",
            "splunk_wftoolkit/components/sankey/sankey",
            "splunkjs/mvc/searchmanager",
            "splunkjs/mvc/postprocessmanager",
            "splunkjs/mvc/tableview"
        ],
        /* Starter function that handles the window's display and interactivity. Takes in mvc, jqeury, and graph type. */
        function(mvc, $, Sankey) {
            //So I can use Search Manager.
            var SearchManager = require("splunkjs/mvc/searchmanager");

            //So I can use PostProcess Manager.
            var PostProcessManager = require("splunkjs/mvc/postprocessmanager");

            //So I can use the table graph.
            var TableView = require("splunkjs/mvc/tableview");

            //Keeps track of the multiple selector view of the hosts.
            var chosenHost = splunkjs.mvc.Components.getInstance("hosts");

            //Tracks the example search string being generated.
            var exampleString = ["", "", ""];

            //Finds all sources and indices based on the selected hosts.
            var hostList = new SearchManager({
                id: "chosen_host",
                earliest_time: "-5m@m",
                latest_time: "now",
                search: mvc.tokenSafe("$search$")
            }, { tokens: true });

            // Uses the previous search results to populate sourcetypes.
            var sourceList = new PostProcessManager({
                id: "sourcetype_search",
                managerid: "chosen_host",
                search: mvc.tokenSafe("$sourceSearch$")
            }, { tokens: true});

            // Uses previous search results to populate indices.
            var indexList = new PostProcessManager({
                id: "index_search",
                managerid: "chosen_host",
                search: mvc.tokenSafe("$indexSearch$")
            }, { tokens: true});

            //Toggles the learn more button.
            $('#learnMore').click(function() {
                $('#about').toggle();
            });

            //On change handler for the multiple host selector. Invokes a new search with all the hosts selected to
            // repopulate all the sourcetypes and indices. Displays the multiple selector for the sourcetypes.
            chosenHost.on("change", function() {
                document.getElementById("sourcetypes").style.display="inline";
                document.getElementById("selectHost").style.display="none";
                setSearchString(exampleString, 0, chosenHost.val(), "host=");
                var hostToken = mvc.Components.getInstance("default");

                var search = "index=* earliest=-5m@m latest=now host=" + chosenHost.val().join(' OR ') + " | stats count by sourcetype index";
                hostToken.set("search", search);
                hostList.startSearch();

                hostToken.set("sourceSearch", "table sourcetype");
                sourceList.startSearch();

                hostToken.set("indexSearch", "table index");
                indexList.startSearch();
            });

            //On change handler for the multiple index selector. Regenerates the example search string with the new
            // index selected.
            var chosenIndex = splunkjs.mvc.Components.getInstance("indices");
            chosenIndex.on("change", function() {
                setSearchString(exampleString, 1, chosenIndex.val(), "index=");
            });

            //On change handler for the multiple source selector. Regenerates the example search string with the new
            // sources selected.
            var chosenSource = splunkjs.mvc.Components.getInstance("sourcetype");
            chosenSource.on("change", function() {
                document.getElementById("index").style.display = "inline";
                setSearchString(exampleString, 2, chosenSource.val(), "sourcetype=");
            });

            //Searches for top 10 popular fields within selected index.
            var fieldSearchManager = new SearchManager({
                id: "field_search",
                earliest_time: "-5m@m",
                latest_time: "now",
                search: "earliest=-5m@m latest=now index=$selectedIndex$ | fieldsummary | sort -count | table field distinct_count count | rename field as \"Field Name\", count as \"# of Events\" | head 10"
            }, {tokens: true });

            var size = 0;
            var tokens = mvc.Components.get('default');

            //Token onchange handler. Stores selected index, sourcetype, and host values. Invokes a new search and
            //creates individual Sankey graphs for each host selected.
            tokens.on("change:inputs", function(model, inputs, options) {
                var hostElement = document.getElementById("hostElement");
                hostElement.innerHTML = "";
                for (var i = 0; i < inputs.length; i++) {
                    var graphId = createSankeyGraphs(inputs[i], i);
                    var hostSearch = new SearchManager({
                        id: "hsi_search" + size,
                        cache: false,
                        earliest_time: "-5m@m",
                        latest_time: "now",
                        search: "index=* earliest=-5m@m latest=now host=" + inputs[i] + " | stats count by sourcetype index"
                    });

                    var sankey = new Sankey({
                        'id': 'hsi_graph' + size,
                         'managerid': 'hsi_search' + size,
                         'el': $(graphId)
                    }).render();

                    //On click handler for each link selected on the Sankey. Creates a new table graph
                    //for the index when the user clicks on a link.
                    sankey.on("click:link", function(link) {
                        document.getElementById("eventTable").innerHTML = "";
                        document.getElementById("graph").style.display = "inline";
                        tokens.set("selectedIndex", link.target);
                        fieldSearchManager.startSearch();
                        var fieldTable = new TableView({
                            id: "field_table" + size,
                            managerid: "field_search",
                            el: $("#test_sankey")
                        }).render();
                    });
                    size++;
                }
            });
        });

        //Creates a Sankey Graph in the HTML. Takes in the name of the host and the index number of this host.
        //Returns the DOM id of the graph generated as a string ("#graphID").
        function createSankeyGraphs(hostName, i) {
            var graphId = "hostgraph" + i; //unique graphID
            var hostElement = document.getElementById("hostElement");
            var hostPanel = document.createElement("div");
            hostPanel.className = "panel-head";
            var title = document.createElement("h3");
            title.innerHTML = "Host: " + hostName;
            hostPanel.appendChild(title);
            hostElement.appendChild(hostPanel);
            var sourcetypes = document.createElement("div");
            sourcetypes.innerHTML = "Sourcetype";
            sourcetypes.className = "source";
            hostElement.appendChild(sourcetypes);
            var index = document.createElement("div");
            index.innerHTML = "Index";
            index.className = "index";
            hostElement.appendChild(index);
            var hostGraph = document.createElement("div");
            hostGraph.style.borderBottom= "1pt solid LightGray";
            hostGraph.className = "panel-body";
            var newGraph = document.createElement("div");
            newGraph.id = graphId;
            //newGraph.class = "line";
            hostGraph.appendChild(newGraph);
            hostElement.appendChild(hostGraph);
            return "#" + graphId;
        }

        //Sets the example search string when the user makes a selection.
        //Takes in an array of fields the user can select from (ex. host, sourcetypes, indices), index of this field's
        //string in the array, array of values the user selected, name of the field the values belong to in the form of
        //"fieldName=".
        function setSearchString(exampleSearch, i, contents, searchField) {
            if (contents.length > 0) {
                exampleSearch[i] = searchField + contents.join(' OR ' + searchField);
            } else {
                exampleSearch[i] = "";
            }
            var indexResult = document.getElementById("index_result");
            indexResult.innerHTML = "";
            for (var j = 0; j < exampleSearch.length ; j++) {
                indexResult.innerHTML += exampleSearch[j] + " ";
            }
        }
    </script>
{% endblock js %}
