{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">

   <style>
       .span-half {
            width: 100%;
        }

       h4 {
            margin-left: 5px;
       }
   </style>
{% endblock css %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body">
        <div class="dashboard-row">
            <div class="dashboard-cell">
                <div class="dashboard-panel">
                     <div class="dashboard-element">
                         <div class="panel-body">
                             <h4>Select an index:</h4>
                            {% dropdown id="index" managerid="all_index"
                               labelField="index" valueField="index" value="$index$"|token_safe %}
                             <h4>Results:</h4>
                             {% single id="indexResults" managerid="index_time" beforeLabel="Time of First Event:" %}
                             <div id="test"></div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

{% block managers %}
    {% searchmanager
        id="all_index"
        cache=False
        preview=True
        earliest_time="-15m@m"
        latest_time="now"
        search="| eventcount summarize=false index=* index=_* | dedup index | fields index"
    %}

    {% searchmanager
        id="index_time"
        preview=True
        cache=False
        search="| metadata index=$index$ type=hosts | stats min(firstTime) as firstTime | convert timeformat=\"%b %d, %Y %I:%M %p\" ctime(firstTime)"|token_safe %}

{% endblock managers %}

{% block js %}
    <script>
        require([
            "splunkjs/ready!",
            "jquery",
            "splunkjs/mvc/searchmanager",
            "splunkjs/mvc/postprocessmanager",
            "splunkjs/mvc/tableview"
        ],
        function(mvc, $) {
            var PostProcessManager = require("splunkjs/mvc/postprocessmanager");
            var SearchManager = require("splunkjs/mvc/searchmanager");
            var TableView = require("splunkjs/mvc/tableview");

        });
    </script>
{% endblock js %}