{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">

   <style>
       .span-half {
            width: 50%;
        }
   </style>
{% endblock css %}

{% block content %}
    <div class="dashboard-body container-fluid main-section-body">
        <div class="dashboard-row">
            <div class="dashboard-cell span-half">
                <div class="dashboard-panel">
                     <div class="dashboard-element">
                         <div class="panel-head">
                            <h4>Select an index:</h4>
                         </div>
                         <div class="panel-body">
                            {% dropdown id="index" managerid="all_index"
                               labelField="index" valueField="index" value="$inputs$"|token_safe %}
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

{% block managers %}
    {% searchmanager
        id="all_index"
        cache=false
        preview=True
        search="index=* | dedup index | table index"
    %}
{% endblock managers %}

{% block js %}
    <script>
    </script>
{% endblock js %}